  .containerGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .itemGallery {
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    height: 230px;
    min-width: 300px;
    max-width: 500px;
  } 

  .galleryText {
  font-size: 30px;  
  text-align: center;
  color: #2D488A;
}

  .gallery1 {
    background-image: url("img/image1.jpeg");
  }
  .gallery2 {
    background-image: url("img/image2.jpeg");
  }
  .gallery3 {
    background-image: url("img/image3.jpeg");
  }
  .gallery4 {
    background-image: url("img/image4.jpeg");
  }
  .gallery5 {
    background-image: url("img/image5.jpeg");
  }
  .gallery6 {
    background-image: url("img/image6.jpeg");
  }
  .gallery7 {
    background-image: url("img/image7.jpeg");
  }
  .gallery8 {
    background-image: url("img/image8.jpeg");
  }
  .gallery9 {
    background-image: url("img/image9.jpeg");
  }
  .gallery10 {
    background-image: url("img/image10.jpeg");
  }
  .gallery11 {
    background-image: url("img/image11.jpeg");
  }
  .gallery12 {
    background-image: url("img/image12.jpeg");
  }
  .testHead {
    font-size: 30px;  
    text-align: center;
    color: #2D488A;  }

    
  .containerTestimonials {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
  }

  .testimonial {
    background-color: lightgrey;
    font-size: 18px;
    height: fit-content;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin: 1%;
  }
  /* NAVBAR */
  nav {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px 0;
    box-shadow: 0px 5px 0px #dedede;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover a:focus{
    color: rgb(85, 85, 85);
  }
  
/*SERVICES PAGE*/
.servicesflex {
  align: center; 
}

#servicestitle {
  color: red;
  font-size: 30px; 
}

#serviceslist {
  font-size: 20px;
  text-align: left; 
  padding-left: 5%; 
}

.servicesimage {
  align: right; 
  border-width: 0pt; 
  border-style: solid; 
}

/*CONTACT US FORM*/
.contactflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  flex-direction: columns;
}

#contactall {
padding: 15px;
box-shadow: 2px 2px 8px;
width: 100%;
margin: auto; 
background-color: #A0AED0; 
}
.contactheadername {
text-align: center;
color: #2D488A;
font-size: 18px; 
font: Tahoma, Geneva, sans-serif;
font-weight: bold; 
}

.contactheaderbody {
text-align: center;
color: #6D6F71;
font-size: 18px; 
font: Tahoma, Geneva, sans-serif; 
font-weight: bold;
}

/*form*/
.contactformheader {
width: 100%;
border-spacing: 1;
padding: 5;
text-align: center; 
}
#contactformtitle {
font-size: 14pt;
font-weight: bold; 
}
#contactformdescription {
  font-size: 15pt;
  font-weight: bold; 
}
.contactformtable {
width: 90%; 
font-size: 8pt;
text-align: center;
padding-left: 5%; 
}
#contactformbackground {
background-color: red; 
}
#contactsubmit {
align-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&family=Merriweather:wght@300&display=swap');



h1 {
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: 8px;
  font-size: 37px;
  color: #A0AED0;
  text-align: center;
}


h3 {
  font-family: 'Merriweather', serif;
  line-height: 30px;
  text-align: center;
  font-size: smaller;
}

h4 {
  font-family: 'Merriweather', serif;
  text-align: justify;
  text-indent: 2em;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 50%;
  
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  align-items: center; 
}

.flex-items:nth-child(5) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.housecover {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.logo {
  width: 100%;
  height: auto;
  padding-left: 55%;
}

.footer {
  background-color: #A0AED0;

}

.porch {
  float: left;
  margin: 0 20px 20px 0;
  width: 150px;
  height: 150px;
}