body {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
  }

  .grid-layout {
    display: grid;
  grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 3fr 8fr 1fr;
    height: 100vh;
  }

  /* NAVBAR */
nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
  background-color: rgb(255, 255, 255);
 }
 nav ul {
  list-style: none;
  text-align: center;

@media screen and (min-width: 768px) {
    
}
