body {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
  }

  .header {
    font-size: 5rem;
    font-weight: bold;
  }

  .grid-layout {
    display: grid;
  grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 3fr 8fr 1fr;
    height: 100vh;
  }

  .containerGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    min-width: auto;
    height: 100vh;
  }

  .item {
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    width: auto;
    height: 100px;
  } 
  .gallery1 {
    background-image: url("img/image1.jpeg");
  }
  .gallery2 {
    background-image: url("img/image2.jpeg");
  }
  .gallery3 {
    background-image: url("img/image3.jpeg");
  }
  .gallery4 {
    background-image: url("img/image4.jpeg");
  }
  .gallery5 {
    background-image: url("img/image5.jpeg");
  }
  .gallery6 {
    background-image: url("img/image6.jpeg");
  }
  .gallery7 {
    background-image: url("img/image7.jpeg");
  }
  .gallery8 {
    background-image: url("img/image8.jpeg");
  }
  .gallery9 {
    background-image: url("img/image9.jpeg");
  }
  .gallery10 {
    background-image: url("img/image10.jpeg");
  }
  .gallery11 {
    background-image: url("img/image11.jpeg");
  }
  .gallery12 {
    background-image: url("img/image12.jpeg");
  }
  .gallery13 {
    background-image: url("img/image13.jpeg");
  }
 
  /* NAVBAR */
nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
  background-color: rgb(255, 255, 255);
 }
 nav ul {
  list-style: none;
  text-align: center;

@media screen and (min-width: 768px) {
    
}
 }
/*CONTACT US FORM*/

/*header*/
.contactheadername {
  text-align: center;
  color: #2D488A;
  font-size: 18px; 
  font: Tahoma, Geneva, sans-serif;
  font-weight: bold; 
  
}

.contactheaderbody {
  text-align: center;
  color: #6D6F71;
  font-size: 18px; 
  font: Tahoma, Geneva, sans-serif; 
  font-weight: bold; 
}
/*header end*/