body {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
  }

  .header {
    font-size: 5rem;
    font-weight: bold;
  }

  .grid-layout {
    display: grid;
  grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 3fr 8fr 1fr;
    height: 100vh;
  }

  .containerGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    min-width: auto;
    height: 100vh;
  }

  .item {
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    width: auto;
    height: 100px;

  } 
  /* NAVBAR */
nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #dedede;
  background-color: rgb(255, 255, 255);
 }
 nav ul {
  list-style: none;
  text-align: center;

@media screen and (min-width: 768px) {
    
}
 }
/*CONTACT US PAGE*/